 // Fonts  
@font: roboto;
@size: 16px;
@link-font-size: 18px;
@heading-font-size: 30px;
@font-weight: 500;
@para-font-weight: 400;
@uppercase: uppercase;
@red: #EE252F;
@yellow: #F8DF1F;
@black:#080801;
@gray: #F3F3F3;
@button-border: 8px;

